langchain
langgraph
langchain_community 
langchainhub 
langchain-ollama 
nomic[local]
streamlit
pdfplumber
langchain_nomic
opentelemetry-sdk 
opentelemetry-exporter-otlp
openinference-instrumentation-langchain
python-docx
pytesseract
opencv-python
python-magic
pdf2image
langchain_postgres
psycopg2